.main_menu a {
	font-size:15px;
	}
.main_menu{
	height:38px;	
	margin-top:5px;
	margin-left:7%;
	line-height:37px;
	background-image:url('../images/bg_header.png'); 
	background-repeat:repeat-x;
	background-size:100% 100%;
	margin: 0px;
	border:2px solid #e4e4e4;
	font-family:"Calibri",Sans Serif;
	width:99.3%;
	padding-left:15px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
 .main_menu{
   height:37px;	
  }
}
main_menu ul {
	margin: 0; padding-left: 10px;
}
.main_menu li {
	list-style:none;
	display:inline;
	float:left;	
	text-transform:capitalize;
}
.main_menu li a{	
	text-decoration:none;
	color:#ffffff;
	padding:4px 8px;
	border: 1px #fff solid; 
	border-radius: 5px;
	margin-right:5px;	
}

.main_menu li ul{
	display:none;
	height:auto;
	list-style:none;	
	position:absolute;	
	width:auto;
	padding:5px 10px;
	z-index:10;	
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	background:none repeat scroll 0 0 rgba(82, 140, 180, 0.93) !important;
	filter:alpha(opacity=93); /* IE */
	background:rgb(82, 140, 180);/* IE */
}
.main_menu li a:hover{	
	background:#7fbb00;
	color:#ffffff;
	font-weight: normal;
}
.main_menu li:hover ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	border-top: solid 1px #e4e4e4;
}
.main_menu ul li {
	display: block;
	position: relative;
	float: left;
}

.main_menu li ul {
	display: none;
}
.main_menu li:hover a { background: #7fbb00; }
.main_menu li:hover ul li a{ background: #528cb4; }
.main_menu ul li a {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	border:none;
	border-radius: none;
    white-space: nowrap;
	height:25px;
	line-height:25px;
	font-weight:normal;
	background:none repeat scroll 0 0 transparent !important;
	}

.main_menu ul li a:hover {
	background: #528cb4;
	color: #aeff00;
}
.main_menu li:hover ul {
	display: block;
	position: absolute;
}
.main_menu li:hover li {
	float: none;
}
.main_menu li ul li:hover a{
	background: #528cb4;
}
.main_menu li:hover ul li ul{
	display:none;
	margin-left: 13.6em; margin-top:-1.5em;
}
.main_menu li:hover ul li:hover ul{
	display:block;	
}