* {
	margin:0px auto;
	padding:0px auto;
}

html{
  width: 100%;
  height: 100%;
}
top_details
html > body{
  min-height: 100%;
  height: auto;
}

/* Body style */
body
{
	font-family:Verdana,Helvetica,Arial;
	background:#eeeff1 url(../images/tm_bgrptimg_vrtigl.gif) repeat-x top center;
	font-size:12px;
}

/****** Styles of style.css********/
ol, ul{	margin: 1em 0 1em 0; }

ol ol, ol ul, ul ol, ul ul{ margin-top:0; margin-bottom:0; }

ol li{	list-style:decimal }
ol li ol li{ list-style:upper-alpha; }
ol li ol li ol li{ list-style:upper-roman; }

ul li{ list-style:none;}

em{font-style:italic;}

strong{font-weight:bold;}

em strong, strong em{ font-weight:bold; font-style:italic; }

select{ width:150px; }

/* Style for back links */
.textnav {
  FONT-WEIGHT: bold;
  FONT-SIZE: 13px;
  COLOR: #6666ff;
  TEXT-DECORATION: none;
}

h2 {
  float:left;
  width:auto;
  font-size:26px;
  font-weight:bold;
  padding-bottom:4px;
  padding-left:12px;
  font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans','sans-serif';
  color: #3A6278;
}

h3 {
  float:left;
  width:auto;
  font-size:20px;
  font-weight:bold;
  padding-bottom:4px;
  font-family:'Trebuchet MS','Liberation Sans','DejaVu Sans','sans-serif';
  color: #4A7288;
}

/* Code for left side boxes. */
.left_side{
	color: #347EC2;
	padding: 10px;
	border: solid 1px #EAEAEA;
	border-radius: 10px 10px 10px 10px;
	margin-bottom:20px;
	height:auto;
	width:86%;
	display: table;
	text-align: left;
	margin-left:2px;
}
.left_side a{
	color:#367fc0;
	font-weight:bold;
}
.left_side ul {
	padding:0px; margin:0px; margin-top: 5px; list-style: none; display: block; color:  #4A7288;
}
.left_side ul li{
	text-align:left;
	list-style: none;
	margin-bottom:10px;
}
.left_side ul li  img{
	vertical-align: middle; margin-bottom: 3px; margin-right: 5px; border:0;
}
.div_border{
	border-top: 1px solid #E6E7E8;
    margin-bottom: 5px;
	margin-top: -10px;
}

/* Table data style */
td {
  FONT-SIZE: 12px;
  COLOR: #000000;
 
}

/* Table header style */
th {
  BACKGROUND: #6A8596;
  COLOR: #FFFFFF;
}

/* Anchor style */
A
{
  COLOR: blue;
  TEXT-DECORATION: none;
  FONT-SIZE: 12px;
  outline: none;
  cursor: pointer;
}

/* Anchor hover style */
A:hover {
  text-decoration: underline;
}

/* General image border style */
img{
  border: 0px;
}

/* Input style (for text fields) */
.input {
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Verdana, Tahoma, Helvetica, sans-serif;
  TEXT-DECORATION: none;
}

/* Textarea style */
TEXTAREA {
  FONT-SIZE: 13px;
  FONT-FAMILY: Arial, Verdana, Tahoma, Helvetica, sans-serif;
  TEXT-DECORATION: none;
}

/* Feedback message style */
.feedback {
  font-family: Verdana, Arial, Tahoma;
  font-size: 12px;
  font-weight: bold;
  background-color: #FFFF77;
  width: 520px;
  margin: 9px auto;
  text-align: center;
  horizontal-align: center;
  padding:5px;
}


/* Style for account page table */
.account-table
{
	color:#000000;
	border: 2px solid #4472bb;
	padding-left:20px;
	padding-right:10px;
	padding-bottom:20px;
}

/* Style for account page label */
.account-table label
{
	font-size:12px;
	font-weight:bold;
}

/* Style for help text */
.helpText
{
	border: 0px;
	padding:1px;
	color:#81672f;
	text-align:justify;
	font-style:italic;
	font-family: Calibri;
	font-size:12px;
}
.helpText a
{
	font-family: Calibri;
	background-color:#F8F8F8;
    COLOR: blue;
}
#content_Part_left{width:720px;display:inline;float:left;}
.index_content
{
	float:left;
	width:310px;
	margin-top:20px;
	padding-left:45px;
}
.index_content li
{
	width:234px;
	padding-left:55px;
	height:120px;
	list-style-type:none;
}
.index_content li td
{
	margin-top: 3px;
	margin-bottom: 3px;
}
.index_content li a span
{
	color:#0075ab;
	font-size:14px;
	font-weight:bold;
	letter-spacing:-1px;
}
.index_content li p
{
	font-family:"Segoe UI","Lucida Grande",Arial,Sans-Serif;
	padding-bottom:5px;
	font-size:13px;
	line-height:1.5em;
	text-align:justify;
}

/***** Gray right section *****/
.rightcolstyle
{
   border: solid 2px #BFBFBF;
   z-index: 1000;
   background-color: #dddddd;
   padding-top:20px;
}

.rightcolstyle .innerDiv
{
    width:100%;
    background-color:#dddddd;
}

.rightcolstyle div ul
{
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;

}
.rightcolstyle  ul li
{
   text-decoration: none;
   line-height:1.5em;
   display: block;
}

.required
{
 font-size: 12px;
 width:10px;
 height:10px;
 vertical-align: top;
 font-style:italic;

}
.legend {
color:#3C78B7;
font-family:"Segoe UI","Lucida Grande","Arial,Sans-Serif";
font-size:16px;
font-style:normal;
font-weight:bold;
padding-left:20px;
}
.parampanel
{
    background-color:#f6f6f6;
    border:1px solid #e7e7e7;

}
.parampanellink
{
    color:#3C78B7;
    font-family:'Cambria',Georgia,'Times New Roman',Times,serif;
    font-size:14px;
    font-weight:bold;

}
.highlighter
{
  background-color:#FFFFE0;
}

.mandatory {
float:right;
width:auto;
padding-top:12px;
color:#aca5a5;
}
.mandatry_clr {
color:#FF0000;
font-weight:bold;
}
.pageHeadingBorder {
border-top:1px solid #cccccc;
}
.tbl_rounded-corners {
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
-khtml-border-radius: 7px;
border-radius: 7px;
background-color:#f4f4f3;
padding:12px;
}
.fontnrml {
color: #2b2a2a;
font-size:14px;
font-weight:normal;
}

.lgtgrayTxt {
color:#8e8e8e;
font-size:12px;
font-weight:normal;
margin-bottom: 5px;
}

/* Footer Section */
#footerpart {
width:100%; background:url(../images/footer_background.png) repeat-x;clear:both;height:95px
}
#footerwraper {
width:100%; margin:0 auto; padding:40px 0 0 0;
}

.green_head {
font-size:12px;
color:#4a7288;
font-weight:bold;
}

/* timemerlin_new.css  */
#main {
width:80%; 
margin:0 auto; 
padding:12px 0 0 0;
min-height:400px;
}
.clear {
	clear:both;
}
			/* Main Navigation Header */
.headermain {
float:left; width:99%; margin-top:7px; background-color:#698595; border:2px solid #cad4db; padding:2px; height:auto; margin-bottom: 10px;
}
#navebody {
float:left; padding:2px 0 0 40px; width:70%
}
			/* Body container */

#container {
width:100%; float:left; padding-top:20px; background-color: #FFFFFF; -moz-border-radius: 10px; border: solid 1px #E2E1E7;
}

#container>table
{
	margin-bottom: 10px;
}

#smlTableContaner {
float:left; padding:4px 4px 12px 7px;
}
#smlTableContaner2 {
float:left; padding:4px 12px 12px 4px
}
#smlTableContaner3 {
float:left; padding:4px 7px 12px 7px
}
#smlTableContaner4 {
float:left; padding:4px 12px 12px 7px
}

			/* New CSS */

.textprofile {
 font-size:12px;
 color:#818384;
 font-weight:bold;
 }
 
.uprerpart a {
font-size:11px;
color:#999999;
text-decoration:none;
border-bottom:1px dotted #0066CC;
font-weight:normal;
}
.uprerpart a:hover {
font-size:11px;
color:#999999;
text-decoration: none;
font-weight:normal;
}

.drkbluelink a {
font-size:12px;
color:#4a758d;
text-decoration:none;
font-weight:normal;
}
.drkbluelink a:hover {
font-size:12px;
color:#fff;
text-decoration: none;
font-weight:normal;
background-color:#698595;
}

.normlgrayText {
font-size:11px;
color:#4683b0;
font-weight:bold;
}

.greentxt {
font-size:11px;
color:#4a7288;
font-weight:normal;
}

/* Table Grid CSS */
.inptbx {
border:1px solid #d8d8d8; height:19px
}
/************Task View and Opportunity View**************/
#main_container
{
	width:100%;
	height:auto;
	margin-bottom: 20px;
}
#leftside
{
	max-width:280px;
	height: auto; 
	border: solid 2px #bcbcbc;
	border-radius: 10px 10px 10px 10px; 
	color: #347EC2;
}
#rightside
{
	float:right;
	margin-top: 15px; 
	margin-bottom: 20px; 
	border-left: solid 1px #EAEAEA;
}

#page_heading
{
	text-align:left; 
	font-size:18px; 
	font-weight:bold;
	color:#4a7288;
}

#greydiv
{
	width: 95%; height: auto; margin: 0px auto; padding: 0px; display: table; border-bottom: solid 1px #EAEAEA; padding-bottom: 10px; margin-bottom: 10px;
}

/********Additional style for title of pages********/
.td_page_title_style{
	text-align: left; 
	border-bottom:1px solid #CCCCCC;
}
.row0{
	background-color:#f1f4f9;
	color:#367FC0;
}
.row1{
	background-color:#fff;
}
.left_links_action{
	color:#367fc0;
	font-weight:bold;
}

.left_labels{
		color:#4a7288;
		font-size:14px;
}

.left_li{
		text-align: left;
		list-style: none;
		margin-top:10px;
		margin-bottom:10px;
}


.light_blue{
	color:#367fc0;	
}
label {
	font-weight:bold;
	color:#447899;
}
.box1 {
float:left; width:30%; margin-left:2%; height:94px; background:url(../images/background.png) no-repeat;background-size:100% 100%; padding:10px 0 0 10px;border-radius: 9px;border-top: 0.5px solid #cbcecc;
}
.box4 {
float:left; width:30%; margin-left:2%; margin-top:25px; height:94px; background:url(../images/background.png) no-repeat;background-size:100% 100%; padding:10px 0 0 10px;border-radius: 9px;border-top: 0.5px solid #cbcecc
}
.index_heading {
	color:#4683b0;
	font-size:18px;
	width:100%;
	padding-left:0px
}
.index_heading a:hover {
	color:#4683b08;
	font-size:18px;
	width:100%;
	padding-left:0px;
	text-decoration: underline;
}
.inner_div {		
	margin-left:10px;
	margin-top:10px; float:left; width:60%; position:absolute;
	}
.link_color{
	color:#4683b0;	
}
.side_images {
	float:right; width:31%;margin-top:-45px;
}
.page_count {
	position: absolute;
	padding-left:11px;
	font-weight:bold;
	color:#838383;	
}
.next_prev {
	background: #f6f7f9;
	border:1px solid #dedede;
	float:right;
	margin-bottom:10px;
}
.report_filter_button {
	height:60px;
	width:100%;
	border:1px solid #EAEAEA;
	background:#E2E2E2;
	padding-top:20px;
	margin-left:5%;
}

.next_prev_seprator {
	margin-left:10px;
	margin-right:10px;
	cursor:default;
	color:#000000;
	text-decoration:none;
}
.report_tabular_header {
	background-color:#f1f1f1;
	border:#dedede 1px solid;
	border-bottom:none;
}
.table_header_row {
	background-color:#f1f1f1;
}
.top_main{
	background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #dedede;
    color: #545454;
    display: table;
    height: auto;
    overflow: auto;
    padding: 10px;
    width: 97%;
}
.searchicon{
	margin-left:-4px;
	 margin-bottom:-7px;
}

/* to show tooltip on mouse hover */
.tooltip div{
	display:none;
	width:275px;
	overflow:auto;
	height:auto;
	padding:0px;
	margin-bottom:30px;
	margin-left:40px;
}
.tooltip div table{
	margin:0px;
}
.tooltip:hover div{
	display:block;
	position:absolute;
	left:375px;
	background:#FFFFFF;
	border:solid 0px #000000;
	color:#303548;
	z-index:4;
	border-radius:10px;
	box-shadow:2px 2px 5px 3px #bababa;
}
.value_style {
color: #e9812a;
}